.eye-header {
  background-color: #efefef !important;

  .right.item {
    .eye-header-user-block {
      margin-left: 15px;
      border-left: 1px rgba(0, 0, 0, 0.2) solid;
      padding-left: 15px;
    }
  }
}
